body{
    background-image: url("images/background.png");
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* color scheme variables */
:root {
    --lighterorange: rgb(255, 211, 149);
    --darkerorange: rgb(255, 175, 105);
    --yellow_on_white: rgb(255, 237, 164);
}

.topbanner{
    background-color: var(--lighterorange);
    height: 70px;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
}

.topbar_left{
    background-color: transparent;
    width: 48%;
    margin: 0;
    padding-top:1vh;
    justify-content: left;
    align-items: center;
}

.logo{
    height: auto;
    width: 30vw;
    min-width: 250px;
    object-fit: contain;
}

.topbar_right{
    background-color: transparent;
    width: 48%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbutton{
    background-color:transparent;
    color: black;
    font-size: 2vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    animation: fadeOut 0.1s;
}
.navbutton:hover{
    background-color: white;
    animation: fadeIn 0.1s;
}


/* FADE IN / FADE OUT ANIMATION */
@keyframes fadeIn {
    from {
        background-color: transparent;
    }

    to {
        background-color: white;
    }
}

@keyframes fadeOut {
    from {
        background-color: white;
    }

    to {
        background-color: transparent;
    }
}

.searchbutton_container{
    background-color: transparent;
    height: 100%;
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.searchbutton_icon{
    height: auto;
    width: 80%;
    min-width: 30px;
}

.line_under_banner{
    height: 2vh;
    background-color: var(--darkerorange);
    position: sticky;
    top: 70px;
    z-index: 1;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;

}

.sitebg{
    background-color: white;
    width: 75%;
    min-width:485px;
    padding-bottom: 90px;
    filter:drop-shadow(10px 20px 10px rgb(255, 225, 136));
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: center;
}

.recipebg{
    background-color: white;
    width: 75%;
    min-width:485px;
    padding-bottom: 90px;
    filter:drop-shadow(10px 20px 10px rgb(255, 225, 136));
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: center;
}

.welcomeblurb{
    background-color: var(--yellow_on_white);
    width: 85%;
    padding: 1%;
    margin: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.indexblurb{
    background-color: var(--yellow_on_white);
    width: 85%;
    padding: 1%;
    margin: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.mecooking{
    width: 30%;
    height: auto;
    margin: 2%;
}

p{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size:1.2vw;
    font-weight:normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.indexdesc{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    font-weight:normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

li{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size:1.2vw;
    font-weight:normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 8px;
}

h1{
    font-size: 2.5vw;
    margin-block-start: 0px;
    margin-block-end: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ALLFEATURED{
    padding-left: 9%;
}

.featured_division{
    width: 85%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h2{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.line{
    align-self: center;
}

.featured_recipes{
    background-color: transparent;
    width: 87%;
    height: 45vh;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.recipebutton{
    width: 30%;
    text-decoration:none;
    animation: dropOut 0.15s;
    filter: drop-shadow(10px 20px 10px white);
}

.recipebutton:hover{
    animation: dropIn 0.15s;
    filter: drop-shadow(10px 20px 10px rgb(180, 180, 180));
}

.recipebutton_image{
    object-fit:cover;
    width: 100%;
    height: auto;
}

.recipe_title{
    margin-bottom: 0px;
}

.instructions{
    display: flex;
    width: 86%;
    margin-top: 4vh;
    flex-direction: column;
    align-items: flex-start;
}

.recipestep{
    text-indent: -2vw;
    margin-bottom: 2vh;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size:2vw;
    font-weight:bold;
}

.stepinstructions{
    margin-left: 2vw;
    margin-bottom: 4vh;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size:1.2vw;
    font-weight:normal;
}

.description{
    margin-bottom: 8vh;
    font-size: 1.5vw;
}

.bigp{
    font-size: 2.5vw;
}
.medp{
    font-size: 1.8vw;
}

/* DROP SHADOW UNDER FEATURED RECIPE BUTTONS */
@keyframes dropIn {
    from {
        filter: drop-shadow(10px 20px 10px white);
    }

    to {
        filter: drop-shadow(10px 20px 10px rgb(180, 180, 180));
    }
}

@keyframes dropOut {
    from {
        filter: drop-shadow(10px 20px 10px rgb(180, 180, 180));
    }

    to {
        filter: drop-shadow(10px 20px 10px white);
    }
}


h3{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-block-start: 10px;
}

.footergap{
    height: 10vh;
    background-color: transparent;
}

footer{
    height:15vh;
    background-color: var(--darkerorange);
}

.videocontainer{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 4vh;
}

video{
    width: inherit;
}

.recipe_photo{
    width: inherit;
}

.aboutblurb{
    background-color: var(--yellow_on_white);
    width: 80%;
    padding: 2% 4%;
    margin: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.socialslogo{
    width: 10%;
    margin-right: 5%;
    margin-bottom: 1.5%;
}

.runny{
    width: inherit;
    margin-top: 2vh;
    margin-bottom: -20vh;
}

.indeximg{
    width: 17%;
    margin-right: 3%;
}

.indexblurb{
    text-decoration: none;
    color: black;
    animation: dropOut 0.1s;
    filter: drop-shadow(10px 20px 10px white);
}

.indexblurb:hover{
    animation: dropIn 0.1s;
    filter: drop-shadow(10px 20px 10px rgb(180, 180, 180));
}

#scrollButt {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: white;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter:drop-shadow(5px 5px 5px rgb(107, 90, 80));
    cursor: pointer;
    padding: 10px;
    border-color: transparent;
    border-radius: 5px; 
}

/*IF THE SCREEN WIDTH IS LESS THAN 1208 PX, FOR TABLETS*/
@media  screen and (max-width: 1208px) {
    h1{
        font-size: 3vw;
    }

    .recipestep{
        font-size: 3vw;
    }

    p{
        font-size: 1.5vw;
    }

    .stepinstructions{
        font-size: 2vw;
    }

    .description{
        font-size: 2vw;
    }
    .bigp{
        font-size: 3vw;
    }
    .medp{
        font-size: 2.8vw;
    }

    li{
        font-size: 2vw;
    }

    .welcomeblurb{
        flex-direction: column-reverse;
        padding: 4%;
        width: 80%;
    }

    .indexblurb{
        flex-direction: column-reverse;
        padding: 4%;
        width: 80%;
    }

    .mecooking{
        width: 90%;
        height: 400px;
        margin-top: 25px;
        align-self: center;
        object-fit: cover;
        object-position: top;
    }

    .indeximg{
        width: 90%;
        height: 300px;
        align-self: center;
        margin-top: 3%;
        object-fit: cover;
        object-position: center;
    }
}

@media  screen and (max-width: 1208px) {
    .mecooking{
        height: 300px;
}
}

/* FOR PHONE SCREENS */
@media  screen and (orientation: portrait) {
    .topbanner{
        height: 100px;
        flex-direction: column;
        padding-bottom: 10px;
        
    }

    .navbutton{
        font-size: 3vh;
        padding-left: 0px;
    }

    .searchbutton_icon{
        padding-left: 20px;
    }

    .line_under_banner{
        top: 110px;
    }
    
    .featured_recipes{
        margin: 0px;
        padding-bottom: 1100px;
        padding-left: 33px;
        justify-content: right;
        align-items: center;
        flex-direction: column;
    }

    .recipebutton{
        width: 90%;
    }
    
    h1{
        font-size: 5vw;
    }

    .recipestep{
        font-size: 5vw;
    }

    p{
        font-size: 3vw;
        padding-bottom:10px;
    }

    .stepinstructions{
        font-size: 3vw;
        
    }

    .description{
        font-size: 3vw;
        
    }    
    
    .bigp{
        font-size: 5vw;
    }

    .medp{
        font-size: 4vw;
    }

    li{
        font-size: 3vw;
    }

    h3{
        white-space: nowrap;
    }

    .welcomeblurb{
        flex-direction: column-reverse;
        padding: 4%;
        width: 80%;
    }

    .indexblurb{
        flex-direction: column-reverse;
        padding: 4%;
        width: 80%;
    }

    .mecooking{
        width: 90%;
        height: 300px;
        align-self: center;
        object-fit: cover;
        object-position: top;
    }

    .sitebg{
        flex-direction: column-reverse;
    }
}

/*GAP BETWEEN FEATURED RECIPES AND WELCOME BLURB */
@media  screen and (max-width: 770px) {
    .featured_recipes{
        padding-bottom: 1050px;
    }
}

@media  screen and (max-width: 740px) {
    .featured_recipes{
        padding-bottom: 1000px;
    }
    .ALLFEATURED{
        padding-left:0%;
    }
}

@media  screen and (max-width: 740px) {
    .featured_recipes{
        padding-bottom: 1100px;
    }
}
@media  screen and (max-width: 710px) {
    .featured_recipes{
        padding-bottom: 1050px;
    }
}
@media  screen and (max-width: 710px) {
    .featured_recipes{
        padding-bottom: 1050px;
    }
}


/* LOGO CENTERING BELOW THIS POINT*/
@media  screen and (max-width: 1350px) {
    .topbar_left{
        padding-top: 2vh;
    }
}

@media  screen and (max-width: 1050px) {
    .topbar_left{
        padding-top: 3vh;
    }
}